<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mgilangjanuar.dev.goscele">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mgilangjanuar.dev.goscele.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mgilangjanuar.dev.goscele.AuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mgilangjanuar.dev.goscele.InAppBrowser"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mgilangjanuar.dev.goscele.CourseDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mgilangjanuar.dev.goscele.ForumDetail"
            android:screenOrientation="portrait" />
        <activity android:name="com.mgilangjanuar.dev.goscele.AlarmNotificationCancellation" />
        <activity
            android:name="com.mgilangjanuar.dev.goscele.Forum"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mgilangjanuar.dev.goscele.SplashScreen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.mgilangjanuar.dev.goscele.Helpers.ScheduleBroadcastReceiver" />
    </application>

</manifest>